.before-footer {
  margin-bottom: -10px;
}

.before-footer-c1 {
  left: 10px;
  bottom: 240px;
  width: 50px;
}

.before-footer-c2 {
  left: 60px;
  bottom: 150px;
  width: 30px;
}

.before-footer-d1 {
  left: 100px;
  top: 240px;
  width: 150px;
  transform: rotate(90deg);
}

.before-footer-d2 {
  right: 40px;
  top: 280px;
  width: 300px;
}

.before-footer-c3 {
  right: 120px;
  top: 180px;
  width: 35px;
}
