.bg-hero {
  background-image: url('../../assets/images/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
  padding-top: 160px;
  height: 800px;
}

.img-hero {
  position: absolute;
  right: -40px;
  top: -30px;
  width: 600px;
}
