.bg-hero {
  background-image: url('../../assets/images/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
  padding-top: 160px;
  height: 800px;
}

.img-hero {
  position: absolute;
  right: -40px;
  top: -30px;
  width: 600px;
}

@media screen and (max-width: 1024px) {
  .img-hero {
    right: -40px;
    top: -30px;
    width: 400px;
  }
  .navbar-active {
    position: sticky;
    z-index: 48;
    background-color: transparent;
  }
  .navbar-active.active {
    top: 0;
    background-color: white;
    padding: 20px !important;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  .navbar-active.active .navbar-logo {
    width: 130px;
  }
}

@media screen and (max-width: 768px) {
  .img-hero {
    right: -40px;
    top: 20px;
    width: 320px;
  }
}
